div{
    text-align: center;
    vertical-align: middle;
}
button{
    height: 90%;
    width: 90%;
    position: relative;
    top: 5%;
}
img{
    height: 50%;
    scale: 50%;
    position: relative;
}

.classtest{
    font-style: italic;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5,150px);

}
.dial{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: aquamarine;
  }
.peoplediv{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: bisque;
  }
.newdiv{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: blueviolet;
  }
.alldiv{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: cornflowerblue;
  }
.uparrow{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: darkkhaki;
  }
.downarrow{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: darkslategray;
  }
.screen{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: firebrick;
    vertical-align: middle;
  }

.listendiv{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: lightcoral;
  }
  .listenbutton{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
.recorddiv{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: lightsalmon;
  }
.stopdiv{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: lightseagreen;
  }
.senddiv{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: maroon;
  }
